<div class="container-fluid mt-5">
    <div class="row">
        <!-- this is the navigation control left bar  -->
        <div class="col-lg-2 col-md-12">
    <ul style="list-style: none;">
        <li>
          <a routerLink="/electric">Home of Electrics</a>
        </li><hr>
        <li>
          <a routerLink="/microwaves">Microwaves</a>
        </li><hr>
        <li>
          <a routerLink="/washers">Washers</a>
        </li><hr>
        <li>
          <a routerLink="/toaster">Toaster</a>
        </li><hr>
    </ul>
        </div>
    <div class="col-lg-10 col-md-12">
    <!-- starting of the grid system in the component -->
     <div class="row">
         <!-- this is the start of the whole block  -->
    <div class="col-lg-4 col-md-6 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/one.png" class="card-img-top" alt="picture">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary"><a class="text-white" href="#">Click </a></button>
            </div>
            
          </div>
    </div>
    <!-- the end of it  -->
         <!-- this is the start of the whole block  -->
    <div class="col-lg-4 col-md-6  mt-2">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/one.png" class="card-img-top" alt="picture">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary"><a class="text-white" href="#">Click </a></button>
            </div>
            
          </div>
    </div>
    <!-- the end of it  -->
         <!-- this is the start of the whole block  -->
    <div class="col-lg-4 col-md-6 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/one.png" class="card-img-top" alt="picture">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary"><a class="text-white" href="#">Click </a></button>
            </div>
            
          </div>
    </div>
    <!-- the end of it  -->
         <!-- this is the start of the whole block  -->
    <div class="col-lg-4 col-md-6 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/one.png" class="card-img-top" alt="picture">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary"><a class="text-white" href="#">Click </a></button>
            </div>
            
          </div>
    </div>
    <!-- the end of it  -->
    
     </div>
    
        
    </div>
    </div>
    </div>