<div class="container-fluid mt-5">

    <div class="row">
        <div class="col-lg-2 col-md-12">
            <ul>
                <li><a routerLink="/carpet-model-one">Model One</a></li><hr>
                <li><a routerLink="/carpet-model-two">Model Two</a></li><hr>
                <li><a routerLink="/carpet-model-three">Model Three</a></li><hr>
                <li><a routerLink="/carpet-model-four">Model Four</a></li><hr>
                <li><a routerLink="/carpet-model-five">Model Five</a></li><hr>
            </ul>
        </div>
        <div class="col-lg-10 col-md-12">
        <h1>This is Model Four</h1><br>
        <div class="row">
            <!-- the start of the one component -->
        <div class="col-lg-3 col-md-6">
        <div class="card mb-2" style="width: 18rem;">
            <img src="assets/img/carpet/carpet4.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Looping Colors</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>price : 550 EGY</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <!-- the end of one component -->
            <!-- the start of the one component -->
        <div class="col-lg-3 col-md-6">
        <div class="card mb-2" style="width: 18rem;">
            <img src="assets/img/carpet/carpet4.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Looping Colors</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>price : 550 EGY</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <!-- the end of one component -->
            
           
      
            
        </div>
    </div>
    </div>
       
    </div>