<div class="container-fluid  mt-5">

    <div class="row ">

<div class="col-lg-2 col-md-12 ">
    <ul style="list-style: none;">
        <li><a routerLink="/bedrooms">Bedrooms</a></li><hr>   
        <li><a routerLink="/dinningrooms">Dinning Rooms</a></li><hr>
        <li><a routerLink="/livingrooms">Living Rooms</a></li><hr>
        <li><a routerLink="/arabianrooms">Arabian Rooms</a></li><hr>
    </ul>
</div>
<div class="col-lg-10 col-md-12">
    <div class="row">
        <div class="card m-2 p-2 content" style="width: 18rem;" *ngFor="let x of data">
            <img [src]="x.image" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">{{x.name}}</h5>
              <p class="card-text m-0">Quantity : {{x.quantity}}</p>
              <p class="card-text m-0">Price : {{x.price}} EGY</p>
              <p class="card-text m-0">Warranty : {{x.warranty}}</p>
    
            </div>
          </div>
        </div>
</div>
</div>
</div>